/** Variables **/

:root {
  --primary: #09bde4;
  --warning: #f0ad4e;
  --primary-bootstrap: #337ab7;
  --white: #FFF;
  --yellow: #f6c23e;
  --olive: #1cc88a;
  --orange: #FF851B;
  --brown: #75655F;
  --dark: #222;
  --darkteal: #222d32;
  --pink: #F47983;
  --font-color: #636b6f;
}

/** Generales **/

body {
  font-family: 'Lato', sans-serif;
  color: var(--font-color);
  background-color: #e9ebee;
}

table tbody td .mayus{
    text-transform: capitalize;
}

a:focus,
a:hover,
a:active {
  text-decoration: none;
}

fieldset {
  padding: 15px 30px;
  border: 1px solid #c0c0c0;
  border-radius: 5px;
}

legend {
  border-bottom: none;
  width: auto;
  /*border-left: 1px solid #c0c0c0;
  border-right: 1px solid #c0c0c0;*/
}

/** Buttons **/

.elemento {
    margin: 2px;
    border-radius: 10px;
    background: var(--white);
    box-shadow: 0 5px 5px rgb(0 0 0 / 10%);
}

.elemento:hover {
     box-shadow: 0 5px 10px rgb(0 0 0 / 30%);
}

/** Flex **/

.flex-column-center {
  display: flex;
  flex-flow: column wrap;
  align-items: center;
  justify-content: center;
}

.flex-center {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  justify-content: center;
}

.flex-row-middle {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
}

.flex-row-start {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  justify-content: flex-start;
}

/** Margins **/

.no-margin {
  margin: 0;
}

.mb-0 {
  margin-bottom: 0px;
}

.mb-10 {
  margin-bottom: 10px;
}

.mb-15 {
  margin-bottom: 15px;
}

.mb-30 {
  margin-bottom: 30px;
}

.mb-50 {
  margin-bottom: 50px;
}

.mb-80 {
  margin-bottom: 80px;
}

.mt-0 {
  margin-top: 0px;
}

.mt-20 {
  margin-top: 20px;
}

.mt-30 {
  margin-top: 30px;
}

.mt-50 {
  margin-top: 50px;
}

.mt-80 {
  margin-top: 80px;
}

.ml-10 {
  margin-left: 10px;
}

.ml-15 {
  margin-left: 15px;
}

.mr-15 {
  margin-right: 15px;
}


/** Paddings **/

.no-padding {
  padding: 0;
}

.pt-10 {
  padding-top: 10px;
}

.pt-20 {
  padding-top: 20px;
}

.pb-10 {
  padding-bottom: 10px;
}

.pb-20 {
  padding-bottom: 20px;
}

.pr-30 {
  padding-right: 30px;
}

.padding-card {
  padding: 30px;
}

/** Borders **/

.border-left {
  border-left: 1px solid #ddd;
}

.border-left-primary {
  border-left: 3px solid var(--primary)!important;
}

.border-left-olive {
  border-left: 3px solid var(--olive)!important;
}

.border-left-brown {
  border-left: 3px solid var(--brown)!important;
}

.border-left-warning {
  border-left: 3px solid var(--warning);
}

.border-radius-50 {
  border: 1px solid rgba(0,0,0,0.3);
  border-radius: 50%;
}

.btlr-0 {
  border-top-left-radius: 0;
}

.btrr-0 {
  border-top-right-radius: 0;
}

.bblr-0 {
  border-bottom-left-radius: 0;
}

.bbrr-0 {
  border-bottom-right-radius: 0;
}

/** Backgrounds **/

.bg-transparent {
  background: transparent;
}

.bg-white {
  background: var(--white);
}

.bg-primary {
  background: var(--primary)!important;
}

.bg-modal-info-users {
  background: url(../images/slide1.jpg) no-repeat center center / cover;  
}

.bg-modal-info-office {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1!important;
  background: url(../images/medical_center.jpg) no-repeat center center / cover;
  filter: blur(4px); 
}

/** Panels **/

.panel-primary b {
  color: var(--primary-bootstrap);
}

.panel-olive > .panel-heading {
    color: #fff;
    background-color: var(--olive);
    border-color: var(--olive);
}

.panel-olive b {
  color: var(--olive);
}

.panel-pink > .panel-heading {
    color: #fff;
    background-color: var(--pink);
    border-color: var(--pink);
}

.panel-pink b {
  color: var(--pink);
}

.panel-orange > .panel-heading {
    color: #fff;
    background-color: var(--orange);
    border-color: var(--orange);
}

.panel-orange b {
  color: var(--orange);
}

.panel-brown > .panel-heading {
    color: #fff;
    background-color: var(--brown);
    border-color: var(--brown);
}

.panel-brown b {
  color: var(--brown);
}

.panel-flat {
  border: none;
  border-radius: 0;
}

.panel-flat > .panel-heading,
.panel-flat > .panel-body {
  border-radius: 0;
}

/** Typography **/

.text-black {
  color: var(--dark);
}

.label-bg {
  font-size: 85%;
}

.text-shadow {
  text-shadow: 2px 2px 3px #333;
}

/** Helpers **/

.divider {
  background-color: rgba(37,44,56,0.15);
  height: 1px;
}

.divider-3 {
  background-color: rgba(26,34,38,0.6);
  height: 3px;
}

.ms-title {
  margin-bottom: 40px;
}

.ms-heading {
  padding-left: 15px;
  padding-right: 15px;
  color: var(--font-color);
}

.ms-subtitle {
  position: relative;
  padding-left: 30px;
}

.ms-subtitle:before {
  content: "";
  position: absolute;
  top: 8px;
  left: 0;
  width: 20px;
  height: 2px;
  background: currentColor;
}

.img-circle {
  border-radius: 50%;
}

/*.ms-header-image-container {
  width: 35px;
  overflow: hidden;
}*/

.h-100 {
  height: 100%;
}


.ms-header-username > img {
  float: left;
  width: 35px;
  height: 35px;
  /*border-radius: 50%;*/
  margin-top: -10px;
}

.ms-header-username i.fa {
  margin-left: 10px;
}

.nav > li > a.ms-header-username:hover,
.nav > li > a.ms-header-username:focus {
  background: transparent;
}

.ms-user-menu .dropdown-menu {
  right: 15px;
  left: auto;
  width: 280px;
  border-top-width: 0;
  padding: 1px 0 0 0;
}

.ms-user-menu .ms-user-header {
  height: 175px;
  padding: 14px 10px;
  text-align: center;
  background: var(--primary);
}

.ms-user-header > img {
  width: 90px;
  height: 90px;
  border: 3px solid rgba(255,255,255,0.2);
}

.ms-user-header > p {
  color: var(--white);
  margin-top: 10px;
  font-size: 16px;
}

.ms-user-header > p > small {
  color: rgba(255,255,255,0.75);
}

.ms-user-menu .ms-user-body {
  padding: 15px;
  border-bottom: 1px solid #f4f4f4;
  border-top: 1px solid #dddddd;
}

.ms-user-menu .ms-user-footer {
  padding: 10px;
  background-color: #f9f9f9;
}

.ms-user-menu>.dropdown-menu>.ms-user-footer:before,
.ms-user-menu>.dropdown-menu>.ms-user-footer:after {
  content: " ";
  display: table;
  clear: both;
}

.capitalize {
  text-transform: capitalize;
}

.no-border {
  border: none;
}

.pre-from-textarea {
  font-family: inherit;
  color: var(--font-color);
  padding: 0;
  margin: 0;
  font-size: inherit;
  background-color: transparent;
  border: none;
}



/** Widgets **/

.sm-widget .panel-heading {
  padding: 10px;
}

.sm-widget .panel-body {
  font-size: 1.8rem;
  letter-spacing: 2px;
  padding: 5px 10px;
}

/** Layouts/Main **/

header {
  padding-left: 18%;
  position: relative;
  width: 100%;
  height: 50px;
  background: #FFF;
  border-bottom: 1px solid #ccc;
  /*margin-bottom: 30px;*/
  display: flex;
  justify-content: space-between;
  /*align-items: center;*/
}

  .ms-logo-header {
    width: 160px;
  }

  .ms-search-form-header,
  .ms-search-form-header .form-group,
  .ms-search-form-header input.form-control,
  .ms-search-form-container {
    height: 100%;
  }

  .ms-search-form-header .form-group {
    width: 90%;
    float: left;
  }

  .ms-search-form-header input.form-control {
    width: 100%;
    border-radius: 0;
  }

  .ms-search-form-header button {
    width: 9.6%;
    float: left;
    border-radius: 0;
    height: 100%;
  }

  #logout {
    font-size: 3rem;
  }

    
  nav.ms-asidenav {
    position: fixed;
    width: 18%;
    height: 100vh;
    background: var(--darkteal);
    left: 0;
    top: 0;
    display: flex;
    flex-flow: column wrap;
    z-index: 1;
  }


  .ms-sidenav-header {
    width: 100%;
    height: 50px;
    display: flex;
    padding-left: 30px;
    background: var(--primary);
  }

  .ms-sidenav-wrapper {
    flex: 1;
    position: relative;
    overflow: hidden;
  }

  .ms-sidenav-scroll {
    height: 100%;
    position: relative;
    overflow: auto;
  }

  .ms-sidenav-container {
    padding: 10px 0;
  }

  .ms-sidenav-container h5 {
    padding-left: 30px;
    font-weight: 700;
    color: #667C9E;
  }

  .ms-sidenav-container a {
    position: relative;
    color: #c0ceDf;
    padding-left: 30px;
    padding-top: 10px;
    padding-bottom: 10px;
    font-weight: 700;
    display: flex;
    align-items: center;
    transition: all 0.3s ease;
  }

  .ms-sidenav-container a:before {
    position: absolute;
    content: "";
    top: 0;
    left: -4px;
    width: 4px;
    height: 100%;
    background: var(--primary);
    transition: all 0.3s ease;
  }

  .ms-sidenav-container a:hover,
  .ms-sidenav-container a.active {
    background: #1e282c;
    color: var(--white);
  }

  .ms-sidenav-container a:hover:before,
  .ms-sidenav-container a.active:before {
    left: 0;
  }


  .ms-sidenav-container a i {
    font-size: 1.2em;
    margin-top: 2px;
    margin-right: 15px;
  }

  .ms-sidenav-collapse {
    border-radius: none;
    background: #2c3b41;
  }

  .ms-sidenav-collapse .ms-sidenav-container a {
    padding-left: 45px;
  }

  .ms-sidenav-collapse .ms-sidenav-container a:hover:before,
  .ms-sidenav-collapse .ms-sidenav-container a.active:before {
    left: -14px;
  }

  .ms-sidenav-collapse .ms-sidenav-container a:hover,
  .ms-sidenav-collapse .ms-sidenav-container a.active {
    background: none;
    color: var(--yellow);
  }

main {
  position: relative;
  padding-left: 18%;
  width: 100%;
  min-height: calc(100vh - 50px);
  padding-top: 10px;
  padding-bottom: 50px;
}

p.footer {
  width: 100%;
  height: 30px;
  padding-top: 5px;
  margin-bottom: 0;
  text-align: center;
}

.header-modal-info {
  position: relative;
  height: 250px;
  padding: 15px;
  color: #FFF;
  overflow: hidden;
}

.header-modal-info * {
  z-index: 1;
}

.header-modal-info p {
  opacity: 0.75;
}

.header-modal-info:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: -webkit-linear-gradient(bottom, rgba(0,0,0,0.7) 10%, rgba(0,0,0,0.2) 50%, transparent 100%);
  background: -o-linear-gradient(bottom, rgba(0,0,0,0.7) 10%, rgba(0,0,0,0.2) 50%, transparent 100%);
  background: linear-gradient(to top, rgba(0,0,0,0.7) 10%, rgba(0,0,0,0.2) 50%, transparent 100%);

}

.header-modal-info .close {
  position: absolute;
  right: 15px;
  top: 15px;
}

.header-modal-info .close.white {
  opacity: 0.8;
  color: var(--white);
}

.modal-body-info {
  background: #efefef;
  /*background: #1f8798;*/
  color: var(--dark);
}

.modal-content-info {
  border: none;
  box-shadow: none;
}

.img-circle img {
  border-radius: 50%;
}

.btn-save,
.btn-cancel {
    position: fixed;
    border-radius: 50%;
    font-size: 13px;
    transition: all 0.3s;
    z-index: 1000;
}

.btn-save {
  bottom: 30px;
  right: 30px;
  width: 90px;
  height: 90px;
}

.btn-msj {
    position: fixed;
    border-radius: 50%;
    z-index: 1000;
}

.btn-msj {
  bottom: 30px;
  right: 130px;
  width: 50px;
  height: 50px;
}

.p-menu{
    position: fixed;
    border-radius: 15px;
    background: var(--white);
    padding: 10px;
    z-index: 1000;
    
}

.p-menu{
    bottom: 30px;
    right: 190px;
    width: 200px;
    height: 80px;
}


.btn-cancel {
  bottom: 30px;
  right: 130px;
  width: 70px;
  height: 70px;
  color: var(--font-color);
}

a.btn-cancel {
  padding-top: 9px;
}

.btn-save:focus,
.btn-cancel:focus {
  outline: none;
}

.btn-teal {
  background: #1cc88a;
  color: #FFF;
}

.btn-teal.active{
  background: #145C59;
  color: #FFF;
}

.btn-teal:hover,
.btn-teal:active,
.btn-teal:focus {
  background: #145C59;
  color: #FFF;
}
.table-modal-info tbody > tr > th {
 padding-left: 15px;
}

.ms-title > a > .fa-close {
  font-size: 1.5rem;
}

.ms-title > a > span {
  margin-left: 3px;
}

/** Overrides **/

.container {
  width: 98%;
    margin-top: 20px;
}

.btn-primary {
  background-color: var(--primary);
  border-color: var(--primary);
  transition: all 0.2s;
}

.btn-dark {
  background-color: var(--font-color);
  border-color: var(--font-color);
    color: var(--white);
  transition: all 0.2s;
}

.btn-dark:hover {
  background-color: var(--darkteal);
  border-color: var(--darkteal);
    color: var(--white);
  transition: all 0.2s;
}

.btn-dark.active {
  background-color: var(--darkteal);
  border-color: var(--darkteal);
    color: var(--font-color);
  transition: all 0.2s;
}

.btn-brown {
  background-color: var(--brown);
  border-color: var(--brown);
  transition: all 0.2s;
    color: aliceblue;
}
.btn-brown:hover {
  background-color: var(--darkteal);
  border-color: var(--darkteal);
  transition: all 0.2s;
    color: aliceblue;
}

.table > thead > tr > th,
.table > tbody > tr > th,
.table > tfoot > tr > th,
.table > thead > tr > td,
.table > tbody > tr > td,
.table > tfoot > tr > td {
  vertical-align: middle;
}

table.dataTable.dtr-inline.collapsed>tbody>tr[role="row"]>td:first-child:before,
table.dataTable.dtr-inline.collapsed>tbody>tr[role="row"]>th:first-child:before {
  top: 50%;
  margin-top: -7px;
}

.modal-header {
  background: var(--primary);
  color: var(--white);
}

.close {
  opacity: 0.5;
}

.close:hover {
  opacity: 0.8;
}

.modal-title {
  position: relative;
  text-transform: uppercase;
  font-weight: 700;
  letter-spacing: 1px;
  padding-left: 30px;
}

.modal-title:before {
  content: "";
  position: absolute;
  width: 20px;
  height: 2px;
  background: var(--white);
  left: 0;
  top: 50%;
  margin-top: -1px;
}

.panel-primary {
  border-color: #ddd;
}

.label-primary {
  background-color: var(--primary);
}

.dataTables_wrapper .dataTables_paginate .paginate_button:hover{
  border: none;
  background: none;
}

.dataTables_wrapper .dataTables_paginate .paginate_button {
  padding: 0 5px;
  border: none;
}

.iziToast-inputs {
  position: relative;
}

.form-control-feedback.pass-verify {
    pointer-events: auto!important;
    cursor: pointer;
    top: 8px;
    font-size: 18px!important;
    transition: all 0.3s;
}

.form-control-feedback.pass-verify:hover {
  color: var(--darkteal);
}

.panel-primary > .panel-heading {
  border: none;
  background-color: var(--primary); 
}

.pagination > .active > a,
.pagination > .active > span,
.pagination > .active > a:hover,
.pagination > .active > span:hover,
.pagination > .active > a:focus,
.pagination > .active > span:focus {
  border-color: var(--primary);
  background-color: var(--primary);
}

/*-----------------------------------------------------------------------------------*/
/* MESSENGER
/*-----------------------------------------------------------------------------------*/

.msj-p{
    margin-left: 10px;
    margin-top: 5px;
    padding: 10px;
    color: var(--white);
    background: var(--primary);
    border-radius: 15px;
    float: left;
}

.msj-p small{
    float: right;
    color: var(--white);
}

.msj-d{
    border: var(--olive);
    margin-right: 10px;
    margin-top: 5px;
    float: right;
    padding: 10px;
    color: var(--white);
    background: gray;
    border-radius: 15px;
}

.msj-d small{
    float: right;
    color: var(--white);
}
.msj-d span{
    float: right;
    color: var(--white);
}
.msj-p span{
    float: right;
    color: var(--white);
}

.row-msj{
    background:#D9D9D9 ;
    width: 100%;
    list-style: none;
    border-radius: 5px;
    margin-bottom: 5px;
}

.row-msj :hover{
    background:#BDBEBF;
    border-radius: 10px;
}

[data-title]:hover:after {
    opacity: 1;
    transition: all 0.1s ease 0.5s;
    visibility: visible;
}

[data-title]:after {
    content: attr(data-title);
    background-color: var(--primary);
    color: var(--white);
    font-size: 13px;
    font-family: Lato;
    position: absolute;
    padding: 3px 20px;
    bottom: -1.6em;
    left: 100%;
    white-space: nowrap;
    box-shadow: 2px 2px 4px var(--dark);
    opacity: 0;
    z-index: 99999;
    visibility: hidden;
    border-radius: 6px;
    
}
[data-title] {
    position: relative;
}

/*-----------------------------------------------------------------------------------*/
/* PACE LOADER
/*-----------------------------------------------------------------------------------*/
.pace {
  -webkit-pointer-events: none;
  pointer-events: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
}

.pace-inactive {
  display: none;
}

.pace .pace-progress {
  background: #ff851b;
  position: fixed;
  z-index: 2000;
  top: 0;
  right: 100%;
  width: 100%;
  height: 2px;

}

.pace .pace-progress-inner {
  display: block;
  position: absolute;
  right: 0px;
  width: 100px;
  height: 100%;
  box-shadow: 0 0 10px #ff851b, 0 0 5px #ff851b;
  opacity: 1.0;
  -webkit-transform: rotate(3deg) translate(0px, -4px);
  -moz-transform: rotate(3deg) translate(0px, -4px);
  -ms-transform: rotate(3deg) translate(0px, -4px);
  -o-transform: rotate(3deg) translate(0px, -4px);
  transform: rotate(3deg) translate(0px, -4px);
}

.pace .pace-activity {
  display: block;
  position: fixed;
  z-index: 2000;
  top: 15px;
  right: 15px;
  width: 14px;
  height: 14px;
  border: solid 2px transparent;
  border-top-color: #ff851b;
  border-left-color: #ff851b;
  border-radius: 10px;
  -webkit-animation: pace-spinner 400ms linear infinite;
  -moz-animation: pace-spinner 400ms linear infinite;
  -ms-animation: pace-spinner 400ms linear infinite;
  -o-animation: pace-spinner 400ms linear infinite;
  animation: pace-spinner 400ms linear infinite;
}

@-webkit-keyframes pace-spinner {
  0% { -webkit-transform: rotate(0deg); transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); transform: rotate(360deg); }
}
@-moz-keyframes pace-spinner {
  0% { -moz-transform: rotate(0deg); transform: rotate(0deg); }
  100% { -moz-transform: rotate(360deg); transform: rotate(360deg); }
}
@-o-keyframes pace-spinner {
  0% { -o-transform: rotate(0deg); transform: rotate(0deg); }
  100% { -o-transform: rotate(360deg); transform: rotate(360deg); }
}
@-ms-keyframes pace-spinner {
  0% { -ms-transform: rotate(0deg); transform: rotate(0deg); }
  100% { -ms-transform: rotate(360deg); transform: rotate(360deg); }
}
@keyframes pace-spinner {
  0% { transform: rotate(0deg); transform: rotate(0deg); }
  100% { transform: rotate(360deg); transform: rotate(360deg); }
}


@-webkit-keyframes pace-spinner {
  0% { -webkit-transform: rotate(0deg); transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); transform: rotate(360deg); }
}
@-moz-keyframes pace-spinner {
  0% { -moz-transform: rotate(0deg); transform: rotate(0deg); }
  100% { -moz-transform: rotate(360deg); transform: rotate(360deg); }
}
@-o-keyframes pace-spinner {
  0% { -o-transform: rotate(0deg); transform: rotate(0deg); }
  100% { -o-transform: rotate(360deg); transform: rotate(360deg); }
}
@-ms-keyframes pace-spinner {
  0% { -ms-transform: rotate(0deg); transform: rotate(0deg); }
  100% { -ms-transform: rotate(360deg); transform: rotate(360deg); }
}
@keyframes pace-spinner {
  0% { transform: rotate(0deg); transform: rotate(0deg); }
  100% { transform: rotate(360deg); transform: rotate(360deg); }
}


/*-----------------------------------------------------------------------------------*/
/* RESPONSIVE
/*-----------------------------------------------------------------------------------*/
@media only screen and (min-width: 0px){

}

@media only screen and (min-width: 601px){

}

@media only screen and (min-width: 750px) {
     
}

@media only screen and (min-width: 993px){
    
   

}

@media only screen and (min-width: 1200px){
    
  .container {
    max-width: 1500px;
  }
    
}

@media only screen and (min-width: 960px) and (max-width: 1200px){
    
}

@media only screen and (max-width: 1080px){

}

@media only screen and (max-width: 993px){
    

}

@media only screen and (max-width: 750px) {
    
}

@media only screen and (max-width: 600px){
    
}

/* IPADS - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - */
@media only screen and (min-width : 960px) and (max-width : 1024px){
    
}

/* IPAD - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -*/
@media only screen and (min-width: 768px) and (max-width: 959px){
   
}

/* IPHONE - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -*/
@media only screen and (min-width: 480px) and (max-width: 767px){

}

/* IPHONE 2 - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -*/
@media only screen and (min-width: 320px) and (max-width: 479px){

}

/* RESPONSIVE IMAGES - - - - - - - - - - - - - - - - - - - - - - - - - - - - -*/
@media only screen and (max-width: 1920px){

}

@media only screen and (max-width: 1440px){
    
}

@media only screen and (max-width: 1024px){
    
}